modules/cbMap/XSD_schemas/Condition Query.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="map">
    <xs:complexType mixed="true">
      <xs:choice maxOccurs="4" minOccurs="0">
        <xs:element type="xs:string" name="sql"/>
        <xs:element type="xs:string" name="return"/>
        <xs:element type="xs:string" name="module"/>
        <xs:element type="xs:string" name="fields"/>
        <xs:element type="xs:string" name="conditions"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>